* {
    padding: 0;
    margin: 0;
}
canvas {
    margin: auto;
    border: 20px solid red;
    border-radius: 10px;
    width: 800px;
    height: 500px;
    background: white;
}
body {
    /* overflow: hidden; */
    display: grid;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: white;
    background-size:cover ;
}
button {
    position: relative;
    left: 50vh;
    padding: 5px 15px;
    margin: 2px;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 5px;
    color: white;
}
 canvas.shake {
     animation: shake 0.5s linear 1; 
     
  }

@keyframes shake {

    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
